.app{
	margin:0 5% 0 5%;
	font-family: Tahoma;
	font-size: 12px;
}

.popup{
	margin:0 0% 0 0%;
	font-family: Tahoma;
	font-size: 12px;
}

.encabezado{
	background-color:gray;
}

.tabla_encabezado{
	height:60px;
	background-color:#A6AEE9;
	border: 0;
	float: left;
	cursor: pointer;
	width: 100%;
}

.aplicacion{
	clear:both;
	background-color: #FFFFFF;
	min-height:400px;
	*_height:400px;
}

.pie{
	background-color: #838AB5;
	color:#FFFFFF;
	font-style:italic;
	text-align:center;
}

body {
	font-size: 100%;
	background-color: #999999;
}

#menu {
	width: 100%;
	background: #030A52;
	float: left;
	border: 0;
	margin: 0;
}

#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 19.95%;
	float: left;
}

#menu a, #menu h2 {
	font: bolder 11px/16px arial, helvetica, sans-serif;
	display: block;
	border-width: 1px;
	border-style: solid;
	border-color: #ccc #030A52 /*888*/ #555 #bbb;
	margin: 0;
	padding: 0px 5px;
}

#menu h2 {
	color: #fff;
	background: #030A52;
}

#menu a {
	color: #000;
	background: #efefef;
	text-decoration: none;
}

#menu a:hover {
	color: #a00;
	background: #fff;
}

#menu li {
	position: relative;
}

#menu ul ul {
	position: absolute;
	z-index: 500;
	width: 100%;
	top:auto;
	display:none;
}

#menu ul ul ul {
	position: absolute;
	top: 0;
	left: 100%;
}

div#menu li:hover {
	cursor:default;
	z-index:100;
}

div#menu ul ul,
div#menu ul li:hover ul ul,
div#menu ul ul li:hover ul ul
{display: none;}

div#menu ul li:hover ul,
div#menu ul ul li:hover ul,
div#menu ul ul ul li:hover ul
{display: block;}

#menu ul li a {height: 1%;} 

#menu a, #menu h2 {
	font-family: helvetica, sans-serif;
	font-size: 75%;
	font-weight: bolder;
}

table.origenesftp {
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:10px;
	border-width: 1px;
	border-style: solid;
	border-color: #d2d2d2;
}

table.origenesftp th {
	background-color:#D2D2D2;
	color:#000000;
	text-decoration:none;
}

table.origenesftp tr {
	background-color: #E2E8FC;
}

table.origenesftp td {
	
}

.tabla_planificacion thead {
  	background-color:#555555;
}
  
.tabla_planificacion tbody {
	background-color:#CCCCCC;
}
 
.tabla_planificacion tbody .td_editar{
	text-align:center;
	cursor:pointer;
	width: 30px;
}

.tabla_enviadores {
}

.tabla_enviadores td {
}

.tabla_enviadores thead {
	background-color:#555555;
}

.tabla_enviadores tbody {
	background-color:#CCCCCC;
}

.tabla_enviadores tbody .td_editar{
	text-align:center;
	cursor:pointer;
	width: 30px;
	vertical-align: top;
}

.tabla_enviadores thead .td_editar{
	text-align:center;
	cursor:pointer;
	width: 30px;
}

.tabla_planificacion_envios td {
}

.btn_popup {
	cursor: pointer;
}