td.header {
	text-align:center;
    font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px;
	font-variant:small-caps;	
	font-style:italic;
	font-weight:bold;
	color:#3D6D3E;
	text-decoration:none;
}

table.menu a{
    font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 14px;
	font-weight:normal;
	color:#006600;
	text-decoration: none;
}

table.menu a:hover{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 14px;
	font-weight: bold;
	text-decoration:none;
	color:#E6FFE8;
	background-color:#000000;
}

.bloque_listado{
	background-color:#D3E8D0;
	padding:4px;
	font-size:14px;
	font-weight:bold;
	color:#006600;
}

a.boton_link {
    font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px;
	font-weight: bold; 
	color: #0099CC;
	text-decoration: none;
}

a.boton_link:visited {
    font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px;
	font-weight: bold; 
	color: #006699;
	text-decoration: none;
}
a.boton_link:hover{
    font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px;
	font-weight: bold; 
	color: #FF6600;
	text-decoration: underline;	
}



table.lista{	
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	width:100%;	
}
table.lista th {
	background-color: #D2D2D2;	
}

table.lista th a {
	color: #000099;
	text-decoration:none;	
}

table.lista a {
	color: #333333;
	font-weight:bold;
	text-decoration:none;
}

table.lista tr.fila1 {
	background-color: #F6F4E9;
}
table.lista tr.fila2 {
	background-color: #FCFAEF;
}
/* Clase Listado con Selector de Filas */ 
table.lista tr.fila1dsel {
	background-color:#E2E8FC;
}
table.lista tr.fila2dsel {
	background-color:#F2F4FF;
}
table.lista tr.fila1sel {
	background-color:#BAB9D7;
}
table.lista tr.fila2sel {
	background-color:#BAB9D7;
}
.paginado{
	font-weight: normal;
	color: #000000;
	text-align:center;
	font-size:x-small;
}
.paginado strong.actual{
	font-weight:bold;
}
.paginado a{
	font-weight: normal;
	text-decoration: none;
	color: #000000;
}

.nolink {
	border-width: 0pt;
}

.columna_resaltada{
	color: red;
	font-weight:bold;
}

.boton {
	background-color     :  #838ab5;
	color                :  #fff;
	background-image     :  url('../imagenes/button.png');
	background-repeat    :  repeat-x;
	border               :  1px ridge #000;
	font                 :  bold 8px;
}

.boton2 {
	background-color     :  #838ab5;
	color                :  #fff;
	background-image     :  url('../imagenes/button2.png');
	background-repeat    :  repeat-x;
	border               :  1px ridge #000;
	font-size			 :  x-small;
	font-style			 :  italic;
}